.App {
  text-align: center;
  font-family: 'Calibri', Arial, sans-sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.products {
  display: flex;
  justify-content: space-around;
  margin-bottom: 160px;
  margin-top: 30px;
}

.products div {
  height: 180px;
  width: 100%;
}

.products img {
  height: 100%;
}

.products button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  width: 180px;
  cursor: pointer;
}

.topnav {
    background-color: #FAEF38;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 0.9em;
}

.topnav a:hover {
    background-color: #333;
    color: white;
}

.topnav a.active {
    font-weight: bold;
    border-bottom: 2px solid #333;
    color: #333;
}

.topnav .cart {
  float: right;
}
