.App {
  text-align: center;
  font-family: 'Calibri', Arial, sans-sans-serif;
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.products {
  display: flex;
  justify-content: space-around;
  margin-bottom: 160px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.products > div {
  height: 180px;
  flex: 1 1 350px;
  margin-bottom: 200px;
}

.products img {
  height: 100%;
}

.products button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  width: 180px;
  cursor: pointer;
}


/*MENU CSS*/
.topnav {
    background-color: #FAEF38;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 0.9em;
}

.topnav a:hover {
    background-color: #333;
    color: white;
}

.topnav a.active {
    background-color: #333;
    color: white;
}

.topnav .cart {
  float: right;
}


/*FORM CSS*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #FAEF38;
    color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid lightgrey;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #FAEF38;
}

input:focus {
    background-color: #FAEF38;
    outline: none;
}

.Admin {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    display: flex;
    border: 1px solid lightgrey;
}


/*CSS CART*/

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 400px;
  text-align: left;
  margin: 50px auto;
}

.price {
  float: right;
}

.checkoutButton {
  background-color: #FAEF38;
  color: #333;
  padding: 12px 20px;
  border: 1px solid lightgrey;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
